@font-face {
  font-family: "Bazer";
  src: url("./assets/Bazer-K7vpp.ttf");
}
.custom{
  font-family: "Bazer";
}
.initialsContainer{
  animation: animate1 infinite 1000ms 0ms alternate;
}
canvas{
  width: 100vw !important;
  height: 100vh !important;
}
@keyframes animate1 {
  0%{
   font-size: 136px;
   text-shadow: #000000 10px 10px 100px;
  }  
  100%{
    font-size:120px;
   text-shadow:  #CA4943 10px 10px 100px;
  }
}
::-webkit-scrollbar{
  width: 5px;
  height: 1vh;
}
::-webkit-scrollbar-thumb{
  background-color: #CA4943;
  border-radius: 10px;
  width: 5px;
}
::-webkit-scrollbar-track{
  width: 0px;
  background-color: #111111;
}
::-webkit-scrollbar-track-piece{
  width: 0px;
  background-color: #111111;
}