@font-face {
  font-family: 'Sakana';
  src: url(./assets/sakana/Sakana.ttf);
}
.font-sakana {
  font-family: 'Sakana', sans-serif;
}
.mask h1{
  animation: zoomIn 1s ease reverse;
}
@keyframes zoomIn {
  from {
    transform: scale(5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }  
}